
.the-strokes {
  font-family: "Monoton", sans-serif;
  font-size: 11vmin;
  color: rgb(226, 226, 226);
  text-decoration:overline;
  font-weight: 400;
  font-style: normal;
}
.band-page, .boards-heading{
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-style: normal;
}
.paper-list {
  font-family: "Swanky and Moo Moo", cursive;
  font-weight: 400;
  font-style: normal;
}
